.page-header {
  background-color: var(--windy);
  margin: 0;
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}
.page-header .page-title {
  font-family: 'Noto Serif SC', serif;
  font-weight: 600;
  font-size: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--base);
  z-index: 5;
}
.page-header .page-title.need-shadow {
  text-shadow: 0px 2px 16px rgba(230,233,238,0.75);
}
.page-header .page-header-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  filter: blur(3px);
  transform: scale(1.1);
  z-index: 1;
}
