.article-header {
  background-color: var(--windy);
  margin: 0;
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}
.article-header .article-header-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  filter: blur(10px) brightness(0.8);
  transform: scale(1.1);
  z-index: 1;
}
.article-header .article-info {
  position: absolute;
  bottom: 24px;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  color: var(--text);
  width: 844px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  z-index: 5;
}
.article-header .article-title {
  font-family: 'Noto Serif SC', serif;
  font-weight: 600;
  font-size: 32px;
  margin: 0;
  color: var(--pagetitle);
}
.article-header .article-author-avatar-date-readtime {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-direction: row;
  color: var(--pagetitle);
  font-size: 16px;
  font-family: 'Noto Serif SC', serif;
  font-weight: 600;
}
.article-header .article-author-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0;
  object-fit: cover;
}
.article-header .article-author-name {
  font-family: 'Noto Serif SC', serif;
  font-weight: 600;
  font-size: 16px;
  margin: 0 0 0 4px;
  color: var(--pagetitle);
}
.article-header .article-info.need-shadow .article-title,
.article-header .article-info.need-shadow .article-author-name,
.article-header .article-info.need-shadow .article-date,
.article-header .article-info.need-shadow .article-readtime {
  text-shadow: 0px 4px 50px #fff;
}
.article-header .article-info.need-shadow .article-author-avatar {
  box-shadow: 0px 4px 50px 3px #fff;
  border: 2px solid rgba(255,255,255,0.8);
}
.article-header .article-info.need-shadow .article-author-avatar-date-readtime {
  text-shadow: 0px 4px 50px 3px #fff;
}
.article-content-container {
  position: relative;
  margin: 48px 0;
}
.article-content {
  width: 844px;
  position: relative;
  margin: 0 auto;
  left: auto !important;
  transform: none !important;
  overflow: visible !important;
  font-family: 'Noto Serif SC', serif;
  font-size: 16px;
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 32px;
}
.article-content p {
  margin-bottom: 1.5em;
  text-align: justify;
  word-wrap: break-word;
}
.article-content strong,
.article-content b {
  font-weight: 700;
  color: #000;
}
.article-content h1 {
  font-size: 36px;
  font-weight: 700;
  color: var(--text);
  margin: 64px 0 24px 0;
  line-height: 1.3;
}
.article-content h2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--text);
  margin: 48px 0 16px 4px;
  padding-bottom: 8px;
  border-bottom: 1px dashed var(--secondary);
  position: relative;
}
.article-content h2::after {
  content: "\00B6";
  margin: 0 0 0 8px;
  color: var(--base);
  font-weight: 400;
  font-family: 'Noto Serif SC', serif;
  opacity: 0.8;
}
.article-content h3 {
  font-size: 18px;
  font-weight: 700;
  color: var(--text);
  margin: 32px 0 12px 8px;
  padding-bottom: 4px;
  border-bottom: 1px dashed var(--secondary);
}
.article-content h3::before {
  content: "#";
  color: var(--base);
  font-weight: 400;
  font-size: 20px;
  font-family: monospace;
  margin-right: 8px;
}
.article-content h4,
.article-content h5,
.article-content h6 {
  font-size: 16px;
  font-weight: 600;
  color: var(--text);
  margin: 16px 0 8px 0;
  border-bottom: none;
  text-decoration: none;
}
.article-content blockquote {
  background-color: none;
  color: var(--text2);
  border-radius: 15px;
  margin: 2em 24px;
  padding: 64px 64px 64px 64px;
  border-left: none;
  position: relative;
}
.article-content blockquote::before {
  content: url("../ico/article/quotel.svg");
  width: 64px;
  height: auto;
  position: absolute;
  top: 16px;
  left: 16px;
  top: 16px;
  left: 16px;
  color: var(--secondary);
  opacity: 0.8;
  line-height: 1;
}
.article-content blockquote::after {
  content: url("../ico/article/quoter.svg");
  width: 64px;
  height: auto;
  position: absolute;
  bottom: 16px;
  right: 16px;
  color: var(--secondary);
  opacity: 0.8;
  line-height: 1;
}
.article-content .image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  width: -moz-fit-content;
  margin: 32px 0 32px 0;
  padding: 0;
  gap: 8px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.article-content .image-container img {
  max-width: 776px;
  width: auto;
  height: auto;
  border-radius: 15px;
}
.article-content .image-container .image-caption {
  font-size: 15px;
  font-family: 'Noto Serif SC', serif;
  line-height: 1.5;
  color: var(--text);
  opacity: 0.6;
}
.article-content figure.highlight {
  background-color: var(--codeblock);
  border-radius: 15px;
  margin: 32px 0;
  position: relative;
  overflow: hidden;
  padding: 16px 32px;
}
.article-content figure.highlight .code-header {
  position: absolute;
  background-color: var(--white);
  padding: 2px 12px;
  border-radius: 10px;
  top: 4px;
  right: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  box-shadow: 0px 2px 10px 1px rgba(205,216,232,0.25);
}
.article-content figure.highlight .code-header .code-lang {
  font-family: 'Noto Serif SC', serif;
  font-size: 14px;
  color: var(--text);
  transform: translateY(0px);
}
.article-content figure.highlight .code-header .code-header-spacer {
  transform: translateY(-1px);
}
.article-content figure.highlight .code-header .code-copy {
  cursor: pointer;
  transition: all 0.2s;
  transform: translateY(3px);
}
.article-content figure.highlight .code-header .copy-icon {
  width: 16px;
}
.article-content figure.highlight table {
  display: block !important;
  overflow-x: auto;
  width: 100% !important;
  margin: 0 !important;
  background-color: transparent !important;
  border: none !important;
}
.article-content figure.highlight td {
  padding: 0 !important;
  border: none !important;
  background-color: transparent !important;
}
.article-content figure.highlight .gutter pre,
.article-content figure.highlight .code pre {
  padding: 12px 16px 12px 4px;
  margin: 0;
  background: transparent;
  font-family: 'Consolas', serif;
  font-size: 14px;
  line-height: 2;
}
.article-content figure.highlight .gutter {
  color: var(--text2);
  text-align: right;
  width: 12px; /* 固定行号宽度 */
}
.article-content code {
  font-family: 'Consolas', serif;
  background-color: var(--bg);
  padding: 4px 8px;
  border-radius: 10px;
}
.article-content a {
  color: var(--text3);
  text-decoration: none;
  transition: all 0.2s;
  font-weight: 600;
}
.article-content a:hover {
  color: var(--base);
  text-decoration: underline;
}
.article-content table {
  position: relative;
  width: fit-content;
  width: -moz-fit-content;
  max-width: 100%;
  border-collapse: collapse;
  margin: 24px auto;
  border-spacing: 0;
  font-size: 14px;
  line-height: 1.6;
  display: block;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.article-content table th {
  background-color: var(--bg);
  font-weight: 600;
  padding: 12px;
  text-align: left;
  padding: 12px 16px;
  border: 1px solid var(--text2);
  white-space: nowrap;
}
.article-content table td {
  padding: 12px 16px;
  border: 1px solid var(--text2);
  text-align: left;
  background-color: var(--white);
}
.article-content table tr:hover td {
  background-color: var(--bg);
}
.article-content table p {
  margin: 0;
}
.article-content hr {
  border: none;
  border-top: 1px dashed var(--secondary);
  margin: auto;
  width: 100%;
  position: relative;
  overflow: visible;
}
.article-content hr::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: var(--secondary);
  border-radius: 50%;
  right: 0;
  top: -3px;
}
.article-content hr::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: var(--secondary);
  border-radius: 50%;
  left: 0;
  top: -3px;
}
.article-content ol {
  margin: 0;
}
.article-content ol li p {
  margin-bottom: 0em;
}
.article-content ol li::marker {
  color: var(--text3);
  font-weight: 700;
  font-size: 18px;
}
.article-content ul {
  list-style: none;
  padding-left: 16px;
}
.article-content ul li {
  position: relative;
  padding-left: 24px;
}
.article-content ul li p {
  margin-bottom: 0em;
}
.article-content ul li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 7px;
  width: 16px;
  height: 16px;
  --marker-icon: url("../ico/star.svg");
  background-color: var(--text3);
  -webkit-mask-image: var(--marker-icon);
  mask-image: var(--marker-icon);
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
.article-cclicense {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px dashed var(--secondary);
  border-radius: 15px;
  margin: 144px auto 0 auto;
  padding: 24px;
  width: 800px;
  box-sizing: border-box;
  overflow: visible;
}
.article-cclicense .article-cclicense-text {
  margin: 0;
  padding: 0;
  font-family: 'Noto Serif SC', serif;
  font-size: 14px;
  color: var(--base);
  position: relative;
  text-decoration: none;
  transition: all 0.2s;
}
.article-cclicense .article-cclicense-text::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-45%);
  left: -24px;
  width: 100%;
  height: 100%;
  --marker-icon: url("../ico/article/cc_icon.svg");
  background-color: var(--base);
  -webkit-mask-image: var(--marker-icon);
  mask-image: var(--marker-icon);
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  transition: all 0.2s;
}
.article-cclicense .article-cclicense-text:hover {
  cursor: pointer;
  color: var(--text3);
}
.article-cclicense .article-cclicense-text:hover:before {
  cursor: pointer;
  background-color: var(--text3);
}
.article-next {
  margin: 48px auto 48px auto;
  width: 800px;
  padding: 24px 48px 24px 48px;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 4px 29.8px 3px rgba(205,216,232,0.45);
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.article-next::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: var(--bg-url);
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  filter: blur(3px);
  transform: scale(1.1);
}
.article-next .article-next-link-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-decoration: none;
  gap: 2px;
  z-index: 2;
}
.article-next .article-next-title {
  font-family: 'Noto Serif SC', serif;
  font-weight: 600;
  font-size: 16px;
  color: var(--base);
  margin: 0;
  width: 100%;
  text-align: right;
  z-index: 2;
  text-shadow: 0px 1px 10px #fff;
}
.article-next .article-next-text1 {
  font-family: 'Noto Serif SC', serif;
  font-weight: 400;
  font-size: 12px;
  color: var(--base);
  margin: 0;
  width: 100%;
  text-align: right;
  z-index: 2;
  text-shadow: 0px 1px 10px #fff;
}
.article-content-container .aplayer {
  width: 640px !important;
  border-radius: 8px !important;
  box-shadow: 0px 4px 29.8px 3px rgba(205,216,232,0.45) !important;
  font-family: 'Noto Serif SC', serif !important;
  color: var(--text) !important;
}
.article-content-container .aplayer .aplayer-lrc {
  margin: 0 0 0 16px !important;
}
.article-content-container .aplayer .aplayer-music {
  margin-bottom: 8 !important;
  margin-left: 16px !important;
}
.article-content-container .aplayer .aplayer-bar-wrap {
  margin: 0 0 0 12px !important;
}
.article-content-container .aplayer .aplayer-title {
  font-size: 14px !important;
  font-weight: 600 !important;
}
.article-content-container .aplayer .aplayer-author {
  margin-left: 8px !important;
}
.article-content-container .aplayer .aplayer-bar {
  background: rgba(196,196,196,0.15) !important;
}
.article-content-container .aplayer .aplayer-played {
  background: var(--base) !important;
}
.article-content-container .aplayer .aplayer-loaded {
  background: rgba(141,144,148,0.25) !important;
}
.article-content-container .aplayer .aplayer-thumb {
  background: var(--base) !important;
}
.article-content-container .aplayer .aplayer-list-light {
  background: var(--windy) !important;
  height: 32px !important;
  border: none !important;
}
.article-content-container .aplayer li {
  height: 32px !important;
  border: none !important;
}
.video-container {
  display: flex;
  justify-content: center;
}
.video-container iframe {
  width: 776px;
  height: 436px;
  border-radius: 15px;
}
video {
  width: 776px;
  height: 436px;
  border-radius: 15px;
  margin: 24px auto;
  display: block;
}
